_
__pycache__
.idea/
.idea
*.DS_Store
*.pyc
*.swp
*.xml
*.egg-info
*.icls
codestyles/
build
dist
public
colors/
cc-test-reporter
coverage/
htmlcov/
colors/
codestyles/
.coverage
coverage.xml
__version__.py
/wand.yml
